h1.title.is-1.text-center 試合のプレイヤー設定


.field.SettingItemAre
    .level-right
        .buttons
            button#matchFormatPlayersReload.button.is-primary 更新
    label.label 試合形式
    .control
        .select.is-fullwidth
            select#MatchFormat(name="MatchFormat") 
                option(value="1") 1vs1
                option(value="2") 2vs2

    .fixed-grid.has-2-cols.margintop1-5
        .grid
            .cell 
                label.label Left Player01
                .control 
                    .select.is-fullwidth
                        select#LeftPlayer01Select(name="LeftPlayer01Select") 
                            option テストユーザー01
                            option テストユーザー02
                            option テストユーザー03
                            option テストユーザー04
            .cell 
                label.label Right Player02
                .control 
                    .select.is-fullwidth
                        select#RightPlayer02Select(name="RightPlayer02Select") 
                            option テストユーザー01
                            option テストユーザー02
                            option テストユーザー03
                            option テストユーザー04
            .cell.is-row-start-2
                label.label Left Player03
                .control 
                    .select.is-fullwidth
                        select#LeftPlayer03Select(name="LeftPlayer03Select") 
                            option テストユーザー01
                            option テストユーザー02
                            option テストユーザー03
                            option テストユーザー04
            .cell 
                label.label Left Player04
                .control 
                    .select.is-fullwidth
                        select#LeftPlayer04Select(name="LeftPlayer04Select") 
                            option テストユーザー01
                            option テストユーザー02
                            option テストユーザー03
                            option テストユーザー04

        .cell.is-row-start-3.margintop1-5
            .buttons
                button#matchFormatPlayersSave.button.is-link 保存
                button#matchFormatPlayersCancel.button キャンセル


h1.title.is-1.text-center.margintop1-5 試合設定
.SettingItemAre.fixed-grid.has-2-cols.field
    .level-right
        .buttons
            button#matchSettingsReload.button.is-primary 更新
    .grid
        .cell
            label.label 試合時間
            .MatchTimerSettingsAre
                .MatchTimerSettings
                    input#matchTimeMinuteInput.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 分
                .MatchTimerSettings
                    input#matchTimeSecondInput.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 秒

        .cell.is-row-start-2.margintop1-5
            label.label スピチャ自動開始
            .control#scAutoStartSettings
                label.radio
                    input#scAutoStartOn(type="radio", name="scAutoStart", value="1")
                    | 有効
                label.radio.marginl1
                    input#scAutoStartOff(type="radio", name="scAutoStart", value="0")
                    | 無効

        .cell.is-row-start-3.margintop1-5
            label.label スピチャレ告知時間
            .SCTimerSettingsAre 
                .MatchTimerSettings
                    input#scNoticeTimeMinuteInput.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 分
                .MatchTimerSettings
                    input#scNoticeTimeSecondInput.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 秒

        .cell.is-row-start-4.margintop1-5
            label.label スピチャミッション時間
            .SCTimerSettingsAre 
                .MatchTimerSettings
                    input#scMissionTimeMinuteInput.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 分
                .MatchTimerSettings
                    input#scMissionTimeSecondInput.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 秒

        .cell.is-row-start-5.margintop1-5
            label.label スピチャボーナス時間
            .SCTimerSettingsAre 
                .MatchTimerSettings
                    input#scBonusTimeMinuteInput.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 分
                .MatchTimerSettings
                    input#scBonusTimeSecondInput.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 秒

        .cell.is-row-start-6.margintop1-5
            label.label スピチャレ倍率
            .SCTimerSettingsAre 
                .MatchTimerSettings
                    input#scMagnificationInput.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 倍

        .cell.is-row-start-7.margintop1-5
            label.label ラストボーナス倍率
            .SCTimerSettingsAre 
                .MatchTimerSettings
                    input#lastBounsMagnificationInput.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 倍

        .cell.is-col-span-2.is-row-start-8
            .grid
                h3.title.is-3.cell ギフト設定
                .buttons.cell.right-block
                    button.button.is-info.is-medium.js-modal-trigger(data-target="new-gift-model") 追加
            .gift_table_box.marginbottom10
                table#giftListTable.table.is-fullwidth
                    thead.sticky
                        tr 
                            th ID
                            th 加算スコア
                            th ギフトエフェクト
                            th 変更 
                    tbody#giftListBody
                        //- rows are rendered by settingspanel

        .cell.is-row-start-9.margintop1-5.marginbottom10
            .buttons
                button#matchSettingsSave.button.is-link 保存
                button#matchSettingsCancel.button キャンセル

#new-gift-model.modal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title New GIFT
            button.delete(aria-label="close")
        section.modal-card-body
            .fixed-grid.has-4-cols
                .grid 
                    .cell.tbcenter-block
                        h5.cell.title.is-5.right-text ID:
                    .cell.is-col-span-3
                        input#NewgiftId.input.is-medium

                    .cell.tbcenter-block
                        h5.cell.title.is-5.right-text Score:
                    .cell.is-col-span-3
                        input#NewgiftScore.input.is-medium

                    .cell.tbcenter-block
                        h5.cell.title.is-5.right-text Gift Video:
                    .cell.is-col-span-3
                        .file.has-name
                            label.file-label
                                input#NewgiftVideoInput.file-input(type="file", name="video", accept="video/*")
                                span.file-cta
                                    span.file-icon
                                    i.fas.fa-upload
                                    span.file-label Choose a file…
                                span#NewgiftVideoFileName.file-name

                    .cell.is-col-start-2.is-row-start-4
                        figure.image.is-128x128
                            video#NewgiftVideoPreview(controls muted loop preload="metadata" src="")
                            | お使いのブラウザはvideoタグに対応していません
                    .cell.is-col-start-3.is-row-start-4.is-flex.is-align-items-center
                        button#NewgiftVideoDeletBtn.button ギフト動画削除

        footer.modal-card-foot
            .level.is-mobile(style="width: 100%")
                .level-left
                    .buttons
                        button#NewgiftAddBtn.button.is-info 追加
                        button#NewgiftCancelBtn.button.modalcancell キャンセル

#edit-gift-model.modal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title Edit GIFT
            button.delete(aria-label="close")
        section.modal-card-body
            .fixed-grid.has-4-cols
                .grid 
                    .cell.tbcenter-block
                        h5.cell.title.is-5.right-text ID:
                    .cell.is-col-span-3
                        input#giftEditId.input.is-medium

                    .cell.tbcenter-block
                        h5.cell.title.is-5.right-text Score:
                    .cell.is-col-span-3
                        input#giftEditScore.input.is-medium

                    .cell.tbcenter-block
                        h5.cell.title.is-5.right-text PlayerImage:
                    .cell.is-col-span-3
                        .file.has-name
                            label.file-label
                                input#giftEditVideoInput.file-input(type="file", name="video", accept="video/*")
                                span.file-cta
                                    span.file-icon
                                    i.fas.fa-upload
                                    span.file-label Choose a file…
                                span#giftEdifVideoFileName.file-name

                    .cell.is-col-start-2.is-row-start-4
                        figure.image.is-128x128
                            video#giftEditVideoPreview(controls muted loop preload="metadata" src="")
                            | お使いのブラウザはvideoタグに対応していません
                    .cell.is-col-start-3.is-row-start-4.is-flex.is-align-items-center
                        button#giftEditVideoDeletBtn.button ギフト動画削除

        footer.modal-card-foot
            .level.is-mobile(style="width: 100%")
                .level-left
                    .buttons
                        button#giftEditSaveBtn.button.is-link 変更
                        button#giftEditCancelBtn.button.modalcancell キャンセル
                .level-right
                    .buttons
                        button#giftEditDeletBtn.button.is-danger 削除