h1.title.is-1.text-center 試合のプレイヤー設定
.field.SettingItemAre
    label.label 試合形式
    .control
        .select.is-fullwidth
            select#MatchFormat(name="MatchFormat") 
                option 1vs1
                option 2vs2
    
    .fixed-grid.has-2-cols.margintop1-5
        .grid
            .cell 
                label.label Left Player01
                .control 
                    .select.is-fullwidth
                        select#LeftPlayer01Select(name="LeftPlayer01Select") 
                            option テストユーザー01
                            option テストユーザー02
                            option テストユーザー03
                            option テストユーザー04
            .cell 
                label.label Right Player02
                .control 
                    .select.is-fullwidth
                        select#RightPlayer02Select(name="RightPlayer02Select") 
                            option テストユーザー01
                            option テストユーザー02
                            option テストユーザー03
                            option テストユーザー04
            .cell.is-row-start-2
                label.label Left Player03
                .control 
                    .select.is-fullwidth
                        select#LeftPlayer03Select(name="LeftPlayer03Select") 
                            option テストユーザー01
                            option テストユーザー02
                            option テストユーザー03
                            option テストユーザー04
            .cell 
                label.label Left Player04
                .control 
                    .select.is-fullwidth
                        select#LeftPlayer04Select(name="LeftPlayer04Select") 
                            option テストユーザー01
                            option テストユーザー02
                            option テストユーザー03
                            option テストユーザー04

        .cell.is-row-start-3.margintop1-5
            .buttons
                button.button.is-link 保存
                button.button キャンセル


h1.title.is-1.text-center.margintop1-5 試合設定
.SettingItemAre.fixed-grid.has-2-cols.field
    .grid
        .cell
            label.label 試合時間
            .MatchTimerSettingsAre
                .MatchTimerSettings
                    input.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 分
                .MatchTimerSettings
                    input.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 秒

        .cell.is-row-start-2.margintop1-5
            label.label スピチャレ時間
            .SCTimerSettingsAre 
                .MatchTimerSettings
                    input.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 分
                .MatchTimerSettings
                    input.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 秒

        .cell.is-row-start-3.margintop1-5
            label.label スピチャボーナス時間
            .SCTimerSettingsAre 
                .MatchTimerSettings
                    input.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 分
                .MatchTimerSettings
                    input.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 秒

        .cell.is-row-start-4.margintop1-5
            label.label スピチャ自動開始
            .control
                label.radio
                    input(type="radio", name="answer")
                    | 有効
                label.radio
                    input(type="radio", name="answer")
                    | 無効

        .cell.is-row-start-5.margintop1-5
            label.label スピチャ開始時間
            .SCTimerSettingsAre 
                .MatchTimerSettingsTitle 残り
                .MatchTimerSettings
                    input.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 分
                .MatchTimerSettings
                    input.input(type="number", placeholder="Text input")
                .MatchTimerSettingsTitle 秒

        .cell.is-row-start-6.margintop1-5
            .buttons
                button.button.is-link 保存
                button.button キャンセル