doctype html 
head 
    meta(charset="utf-8")
    title Admin 
    link(rel="stylesheet", href="/assets/css/bulma.min.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    script(src="/socket.io/socket.io.js")
    script(src="/assets/js/jquery-4.0.0.min.js")
    script(src="/assets/js/toast.js")

    script(src="/assets/js/index.js")
    script(src="/assets/js/tab.js")
    script(src="/assets/js/players.js")
    script(src="/assets/js/matchspanel.js")
    script(src="/assets/js/settingspanel.js")
    script(src="/assets/js/playerspanel.js")


body 
    section.hero.is-small.is-danger 
        .hero-body
            p.title.text-center イズニート リアル投げ銭バトル 管画面面

    //- ページ切り替えタブ
    #PanelMenuBar.tabs.is-toggle.is-fullwidth.is-large 
        ul
            li.is-active 
                a(href="#MatchPanel")
                    span 試合管理
            li
                a(href="#SettingsPanel")
                    span 設定
            li
                a(href="#PlayersSettingsPanel")
                    span プレイヤー設定

    .pages.marginlr4
        #MatchPanel.page
            include match.pug

        #SettingsPanel.page
            include settings.pug

        #PlayersSettingsPanel.page
            include players.pug

    footer.footer 
        .content.has-text-centered 
            p 
                strong isN'eat Real Tipping System Produced 
                | by Technical D Inc.

    #toast-container(aria-live="polite" aria-atomic="false")